p{
  font-family: Arial;
  color:white;
}
.title{
  font-weight:bold;
  font-size:18px;
  color:bisque;
}
.classes{
  font-weight:bold;
  font-size:18px;
  color:bisque;
}
.movies{
  font-weight:bold;
  font-size:18px;
  color:bisque;
}
.moods{
  font-weight:bold;
  font-size:18px;
  color:bisque;
}
.friends{
  font-weight:bold;
  font-size:18px;
  color:bisque;
}
.img1{
  width: 300px;
}
.img2{
  width: 300px;
}